* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

td,
th {
  padding: 12px;
  border: 1px solid #3f3e3e;
}

td div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: fit-content;
  margin: auto;
}

tbody tr {
  &:nth-child(odd) {
    background: #2e2e2e;
  }

  &:nth-child(even) {
    background: #1e1e1e;
  }
}

#pagination {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
